# Workflow configuration for publishing Python packages to PyPI

# Workflow triggers
ame: Publish to PyPI
on:
  push:
    tags:
      - "v*"

defaults:
  run:
    shell: bash

# Workflow jobs
jobs:
  upload-release-assets:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      # Verify files exist in dist/ directory
      - name: Verify dist files
        run: |
          if [ -z "$(ls -A dist)" ]; then
            echo "No distribution files (wheels or tar.gz) were located in 'dist/'. Ensure 'build-pypi' completed successfully. Exiting..."
            exit 1
          fi

      # Upload distribution files to GitHub release
      - name: Upload release assets
        run: |
          files=(dist/*)
          echo "Uploading the following distribution files to the release: ${files[@]}"
          gh release upload "$GITHUB_REF_NAME" "${files[@]}"